{"default":
{ "display_controllers":
    { "left": 
        { "port": 8010,
          "ip": "127.0.0.1",
          "view_angle": 20,
          "deflection": -45},
      "middle_left": 
        { "port": 8025,
          "ip": "192.168.0.11",
          "view_angle": 20,
          "deflection": -15},
      "middle_right": 
        { "port": 8025,
          "ip": "192.168.0.12",
          "view_angle": 20, 
          "deflection": 15},
      "right": 
        { "port": 8025,
          "ip": "127.0.0.1",
          "view_angle": 20,
          "deflection": 45}
    },
  "vr_scenes": [
    "fond_dock",
    "vivid_stamp"
  ],
  "position_controller":
    { "ip": "127.0.0.1",
      "send_port": 5000,
      "receive_port": 5005
    },
  "behavior_controller":
    { "ip": "127.0.0.1",
      "send_port": 5050,
      "receive_port": 5015
    },
  "reward": 
    { "locations": [
        500,
        1500,
        2500
      ],
      "radius": 60,
      "max_duration": 5,
      "type": "fixed",
      "number": 3,
      "drop_size": 60,
      "pin": 7,
      "operant_rate": 2,
      "initial_open": 0
    },
  "sensors": [
    { "pin": 2,
      "report_pin": 20,
      "type": "lickport"
    },
    { "pin": 22,
      "type": "rfid_reader"
    }],
  "laser": {
      "radius": 100,
      "pin": 10,
      "reward_centered": true,
      "locations": [
        1500
      ]
   },
  "contexts": [
    {
        "id": "light_context",
        "type": "pulsed",
        "valves": [13],
        "durations": [500],
        "interval": 1000
    },
    {
        "id": "odor_context",
        "type": "constant",
        "valves": [3],
        "durations": [-1],
    },
    {
        "id": "tone_context",
        "type": "pulsed",
        "valves": [7],
        "durations": [500],
        "interval": 1000,
        "frequency": 262
    }
  ],
  "trial_attrs": {"fields": [
    { "key": "trial_length", "type": "int" },
    { "key": "reward", "type": "JSONObject", "fields": [
        { "key": "radius", "type": "int" },
        { "key": "locations", "type": "JSONArray", "fields": [
            { "key": "location", "type": "int" },
        ]}
    ] }
  ]},
  "sync_pin": 12,
  "trial_length": 300,
  "tone_duration": 0,
  "position_scale": 1.0,
  "track_length": 6000,
  "lap_reset_tag": "",
  "lap_tolerance": 0.05
},
"tag2": {
  "position_controller":
    { "ip": "127.0.0.1",
      "send_port": 5000,
      "receive_port": 5005
    },
  "behavior_controller":
    { "ip": "127.0.0.1",
      "send_port": 5010,
      "receive_port": 5015
    },
  "reward": 
    { "locations": [
        500,
        1500,
        2500
      ],
      "radius": 120,
      "max_duration": 5,
      "type": "moving",
      "number": 10,
      "drop_size": 60,
      "pin": 7,
      "operant_rate": 2,
      "initial_open": 0
    },
  "sensors": [
    { "pin": 2,
      "report_pin": 20,
      "type": "lickport"
    },
    { "pin": 22,
      "type": "rfid_reader"
    }],
  "laser": {
      "radius": 200,
      "pin": 10,
      "reward_centered": true,
      "locations": [
        750,
        2500
      ]
   },
  "sync_pin": 12,
  "trial_length": 10,
  "tone_duration": 0,
  "position_scale": 1.0,
  "track_length": 9000,
  "lap_reset_tag": "",
  "lap_tolerance": 0.05
},
"_system": {
    "data_directory":"/Users/jbowler/Desktop/pMateData"
}
}
